.container {
  background-color: #1C2331;
  color: #D1D1D1;
  height: 100vh;
}

h1 {
  color: #F4511E;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

form {
  display: flex;
  justify-content: center;
}

input[type="url"] {
  background-color: #1C2331;
  color: #D1D1D1;
  border: 1px solid #F4511E;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #F4511E;
  color: #D1D1D1;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

button[type="submit"]:hover {
  background-color: #00bcd4;
  color: #1C2331;
}

table {
  margin: 50px auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #F4511E;
  padding: 10px;
}

a {
  color: #F4511E;
}
